@import './variables.scss';

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: $color-background;
  transition: background-color $transition-base;

  .dark & {
    background-color: $color-background-dark;
  }
}
